
.grid
  position: relative
  &-container
    cursor: grabbing

  &-transition
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 0px
    height: 0px
    background: #000
    border-radius: 50%
    pointer-events: none
    transition: all 0.5s ease
    &.active
      width: 200vw
      height: 200vw

  &-filter
    position: fixed
    bottom: 20px
    right: 55px
    z-index: 10
    transform: rotate(90deg)
    float: right
    transform-origin: right top 0
    color: white
    span
      font-size: 15px
      font-family: 'Open Sans', sans-serif
      text-transform: uppercase
      display: inline-block
      margin-right: 40px
      &.is-active

      &:last-child
        margin-right: 0
