.topbar
  position: fixed
  top: 30px
  right: 40px
  left: 40px
  z-index: 10
  color: white
  background: transparent
  display: flex
  align-items: center
  opacity: 0
  // transform: translate3d(50px,0px,0)
  pointer-events: none
  transition: all .3s .3s ease
  &__nav
    margin-right: 59px
    font-size: 16px
  &__back-grid
    opacity: 0
    transition: all .3s ease

  &__logo
    max-width: 140px
    margin-right: auto
    img
      max-width: 100%

.grid, .s-page, .profile
  .topbar
    opacity: 1
    // transform: translate3d(0,0,0)
    pointer-events: all

.profile
  .topbar
    &__back-grid
      opacity: 1

+r($desktop)
  .topbar
    &__nav
      margin-right: 30px

.menu
  position: fixed 0
  z-index: -1
  display: flex
  flex-direction: column
  background: rgba(black, .8)
  opacity: 0
  pointer-events: none
  transition: opacity .3s ease
  &.is-active
    opacity: 1
    pointer-events: all

  &__wrapper
    position: relative
    flex: 1 1 auto
    display: flex
    flex-direction: column

  &__navigation
    flex: 1 1 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
  &__li
    // flex: 1 0 auto
    margin-bottom: 6vh
    transition: all .3s ease
    opacity: 0
    transform: translate3d(0,40px,0)
    animation-duration: .3s
    animation-timing-function: ease-out
    animation-fill-mode: both
    &:nth-child(1)
      animation-delay: .2s
    &:nth-child(2)
      animation-delay: .4s
    &:nth-child(3)
      animation-delay: .6s
    &:nth-child(4)
      animation-delay: .8s

// animation on active element
.menu.is-active
  .menu
    &__li
      animation-name: revealMenu

@keyframes revealMenu
  to
    opacity: 1
    transform: translate3d(0,0,0)


.login a
  border: none
  position: absolute
  top: 3%
  right: 2%
  background-color: transparent
  font-size: 1.2rem
  transition: color 5s ease
  &:hover
    color: #CC208E
    background-image: none
    background-color: transparent
    box-shadow: none


// ---------------> FORM

.form-container
  display: flex
  width: 80vw
  margin: 0 auto
  margin-top: 60px

+r($desktop)
  .form-container
    width: 90vw
    display: block

.image-and-filters
  width: 50%
  padding: 35px
  .form-group
    text-align: right
    margin-right: 15%
    +r($desktop)
      text-align: center
      margin: 50px
      margin-right: 0
      margin-left: 0
  +r($desktop)
    width: 100%

.big-img
  display: block
  margin: 0 auto
  margin-bottom: 35px
  width: 70%

#change-img
  margin-top: 50px
  &:focus
    outline: none

.form-control-file
  display: none

.change-img-label
  padding: 10px
  font-size: 1rem
  display: inline-block
  margin: 0 auto
  &:hover
    img.upload-grey
      display: none
    img.upload-white
      display: inline
  img
    background: transparent
    &.upload-white
      display: none

.form-inner
  width: 50%
  padding: 35px
  +r($desktop)
    width: 100%

form
  width: 70%
  margin: 0 auto
  +r($desktop)
    width: 100%

.form-control
  color: #CC208E
  border-radius: 0
  padding: 10px
  background: none
  border: 1px solid #6D6875
  &:focus
    border: 1px dotted #CC208E
    color: #FFF
    background: #000

label
  color: #6D6875
  font-family: 'Roboto Condensed', sans-serif

select
  -webkit-appearance: none

.button-container
  text-align: right

.btn.btn-secondary
  font-size: 1rem
  margin-top: 50px
