.intro
  position: relative
  z-index: 1
  overflow: hidden
  width: 100%
  min-height: 100vh
  margin: 0 auto
  padding: 50px 40px 50px 40px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  color: white

  &__bg
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    transform: scale(1.6)
    opacity: 1
    // transition: opacity .5s
    min-height: 100%

  &__wrapper
    position: relative
    z-index: 2
    flex: 0 0 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: auto

  &__logo
    max-width: 200px
    margin-bottom: 40px
    opacity: 0
    transform: translate3d(0,20px,0)
    img
      max-width: 100%

  &__description
    display: flex
    max-width: 800px
    margin: 0 auto
    font-family: 'Open Sans', sans-serif

  &__control
    width: 33.3%
    flex: 0 1 33.3%
    padding: 20px
    text-align: center
    font-size: 16px
    line-height: 1.7
    opacity: 0
    transform: translate3d(0,20px,0)
    .ico
      color: rgba(white, .6)
      width: 100%
      display: inline-block
      font-size: 35px
      margin: 20px auto 0 auto

  &__cta
    position: absolute
    bottom: 5vh
    left: 50%
    z-index: 2
    transform: translate3d(-50%, -35px,0)
    // animate with twinmax
    opacity: 0

+r($desktop)
  .intro
    &__control
      font-size: 14px
      .ico
        margin-top: 15px
        font-size: 30px

+r($tablet)
  .intro
    &__logo
      max-width: 150px

    &__description
      flex-direction: column

    &__control
      padding: 10px 20px
      flex: 0 0 auto
      width: 100%
      max-width: 300px
      margin-left: auto
      margin-right: auto
    &__cta
      position: static
      margin-top: 40px
      width: 100%
      text-align: center
      transform: translate3d(0%, -35px,0)


+r($mobile)
  .intro
    padding: 50px 20px 50px 20px

+r(320)
  .intro
    &__logo
      max-width: 130px
      margin-bottom: 20px
    &__control
      font-size: 13px
      max-width: 220px
      .ico
        font-size: 25px
