.ico-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-i-move {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-i-share {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-i-user {
  width: 1em;
  height: 1em;
  fill: #a7a9ac;
}
.ico-upload {
  width: 1em;
  height: 1em;
  fill: initial;
}
